<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates\css\style.css">
    <title>Sebo IFSP</title>
</head>
<body>
  <div class="banner">
    <div class="container">
      <div class="logo">
        <img src="D:\Sebo-IFSP\templates\static\img\logo.jpg" alt="Logo IFSP" class="imagem-painel" width="150px">
        <div class="titulo"> Sebo <br> IFSP</div>

        </div>
      <nav>
        <ul id="MenuItens">
          <li><a href="" title="">Inicio</a></li>
          <li><a href="" title="">Produtos</a></li>
          <li><a href="" title="">Contatos</a></li>
        </ul>
      </nav>
      </div>
      
    </div>
<script scr="templates\js\app.js"></script>  
</body>
</html>

